# Cleaning

In [2]:
import pandas as pd

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.feature_extraction import stop_words
from nltk.stem.porter import PorterStemmer

from bs4 import BeautifulSoup 

import datetime as dt

from warnings import catch_warnings
from warnings import filterwarnings
import warnings

warnings.simplefilter(action="ignore")

In [3]:
df_WI = pd.read_csv('../datasets/df_WI.csv')

In [4]:
df_WI

,Unnamed: 0,Date,Favorites,Geolocation,Hashtags,Mentions,Retweets,Text,User,target,user_split,user_text,location
0,0,2019-07-19 23:47:00+00:00,0,NaN,NaN,NaN,0,Minato high diff Itachi wouldn't have the time...,KidKinsey,0,KidKinsey,KidKinsey Minato high diff Itachi wouldn't hav...,WI
1,1,2019-07-19 23:38:26+00:00,0,NaN,NaN,NaN,0,"At 6:45 PM EDT, Scotch Plains [Union Co, NJ] B...",iembot_okx,1,iembot okx,"iembot okx At 6:45 PM EDT, Scotch Plains [Unio...",WI
2,2,2019-07-19 23:38:08+00:00,0,NaN,NaN,NaN,0,"At 6:45 PM EDT, Scotch Plains [Union Co, NJ] B...",iembot_okx,1,iembot okx,"iembot okx At 6:45 PM EDT, Scotch Plains [Unio...",WI
3,3,2019-07-19 23:34:05+00:00,0,NaN,NaN,NaN,0,"At 6:45 PM EDT, Clark [Union Co, NJ] BROADCAST...",iembot_okx,1,iembot okx,"iembot okx At 6:45 PM EDT, Clark [Union Co, NJ...",WI
4,4,2019-07-19 23:34:01+00:00,0,NaN,NaN,NaN,0,The properties should not be allowed to be sol...,a_diener,1,a diener,a diener The properties should not be allowed ...,WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1441,1441,2019-12-16 19:33:32+00:00,1,NaN,NaN,NaN,1,There was always that goofy religious person b...,sleepyjoe2,0,sleepyjoe2,sleepyjoe2 There was always that goofy religio...,WI
1442,1442,2019-12-16 19:19:56+00:00,0,NaN,NaN,NaN,2,A flood would be *chefs kiss*,Shimoji___,0,Shimoji,Shimoji A flood would be *chefs kiss*,WI
1443,1443,2019-12-16 19:15:45+00:00,0,NaN,NaN,NaN,1,Wednesday is early signing,duff8800,0,duff8800,duff8800 Wednesday is early signing,WI
1444,1444,2019-12-16 18:55:27+00:00,0,NaN,NaN,NaN,2,people believe in the story of jonah’s arc and...,carsonnconner,0,carsonnconner,carsonnconner people believe in the story of j...,WI
1445,1445,2019-12-16 18:46:21+00:00,0,NaN,NaN,NaN,4,Anytime I complete even the easiest household ...,CourtsideCorey,0,CourtsideCorey,CourtsideCorey Anytime I complete even the eas...,WI

In [5]:
df_WI.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1446 entries, 0 to 1445
Data columns (total 13 columns):
Unnamed: 0     1446 non-null int64
Date           1446 non-null object
Favorites      1446 non-null int64
Geolocation    0 non-null float64
Hashtags       280 non-null object
Mentions       181 non-null object
Retweets       1446 non-null int64
Text           1442 non-null object
User           1446 non-null object
target         1446 non-null int64
user_split     1446 non-null object
user_text      1446 non-null object
location       1446 non-null object
dtypes: float64(1), int64(4), object(8)
memory usage: 147.0+ KB

In [6]:
df_TX = pd.read_csv('../datasets/df_TX.csv')
df_TX.head()

,Unnamed: 0,User,Text,Date,Favorites,Retweets,Mentions,Hashtags,Geolocation,user_split,user_text,target,location
0,0,iembot_rlx,"At 7:51 PM, 2 NNE Rush [Boyd Co, KY] EMERGENCY...",2016-06-23 23:53:45+00:00,0,0,NaN,#RLX,NaN,iembot rlx,"iembot rlx At 7:51 PM, 2 NNE Rush [Boyd Co, KY...",1,TX
1,1,iembot_rlx,"At 7:48 PM, 4 SSE Rush [Boyd Co, KY] EMERGENCY...",2016-06-23 23:50:46+00:00,0,0,NaN,#RLX,NaN,iembot rlx,"iembot rlx At 7:48 PM, 4 SSE Rush [Boyd Co, KY...",1,TX
2,2,iembot_rlx,"At 7:44 PM, Rush [Boyd Co, KY] EMERGENCY MNGR ...",2016-06-23 23:48:01+00:00,0,0,NaN,#RLX,NaN,iembot rlx,"iembot rlx At 7:44 PM, Rush [Boyd Co, KY] EMER...",1,TX
3,3,iembot_rlx,"At 6:03 PM, 3 SW Amma [Roane Co, WV] DEPT OF H...",2016-06-23 22:27:16+00:00,0,0,NaN,#RLX,NaN,iembot rlx,"iembot rlx At 6:03 PM, 3 SW Amma [Roane Co, WV...",1,TX
4,4,iembot_rnk,"At 6:00 PM, Renick [Greenbrier Co, WV] EMERGEN...",2016-06-23 22:23:57+00:00,0,0,NaN,#RNK,NaN,iembot rnk,"iembot rnk At 6:00 PM, Renick [Greenbrier Co, ...",1,TX

In [7]:
df_concat = pd.concat([df_WI, df_TX], ignore_index = True)

In [8]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3446 entries, 0 to 3445
Data columns (total 13 columns):
Date           3446 non-null object
Favorites      3446 non-null int64
Geolocation    0 non-null float64
Hashtags       1546 non-null object
Mentions       253 non-null object
Retweets       3446 non-null int64
Text           3442 non-null object
Unnamed: 0     3446 non-null int64
User           3446 non-null object
location       3446 non-null object
target         3446 non-null int64
user_split     3446 non-null object
user_text      3446 non-null object
dtypes: float64(1), int64(4), object(8)
memory usage: 350.1+ KB

In [28]:
# drop Unanamed: 0, geolocation, User, user_split, Text columns
df_concat.drop(columns = ['Unnamed: 0', 'Geolocation', 'User'], inplace = True)

In [29]:
df_concat

,Date,Favorites,HashTags,Mentions,Retweets,Text,location,target,user_split,user_text
0,2019-07-19 22:40:31+00:00,0,#Respect,@BBCWorld @BigCatRescue,1,Nice to have a positive story about big cats f...,WI,0,Gabriettaa,Gabriettaa Nice to have a positive story about...
1,2019-07-19 22:26:34+00:00,0,NaN,NaN,0,my dad just told me to flood my car so I can g...,WI,1,chaaasiti04,chaaasiti04 my dad just told me to flood my ca...
2,2019-07-19 22:19:05+00:00,1,NaN,NaN,2,"Happy B-day Reggie, from the office!!!",WI,1,JDenius,"JDenius Happy B-day Reggie, from the office!!!"
3,2019-07-19 22:17:13+00:00,0,NaN,NaN,0,Something about how crime will magically drop ...,WI,1,beganovic2021,beganovic2021 Something about how crime will m...
4,2019-07-19 20:57:18+00:00,0,NaN,NaN,0,Lol mine too. I’ve been avoiding floods for th...,WI,1,RiskItAllRichy,RiskItAllRichy Lol mine too. I’ve been avoidin...
...,...,...,...,...,...,...,...,...,...,...
2698,2016-09-02 09:56:07+00:00,0,NaN,@SarahFortnerWx,0,Flash flood watch for Charlotte and eastward u...,TX,0,CharlotteCP,CharlotteCP Flash flood watch for Charlotte an...
2699,2016-09-02 05:19:09+00:00,56,NaN,NaN,18,Move to higher ground! Flash Flood Warning in...,TX,0,NWSTallahassee,NWSTallahassee Move to higher ground! Flash F...
2700,2016-09-02 04:47:49+00:00,0,NaN,NaN,0,Help arrives for Greenspoint flood victi http:...,TX,0,BLifeAldine,BLifeAldine Help arrives for Greenspoint flood...
2701,2016-09-02 02:49:25+00:00,0,NaN,NaN,3,W my fellow Capital Correspondents raising $fo...,TX,0,Futureteller,Futureteller W my fellow Capital Correspondent...
2702,2016-09-02 02:46:37+00:00,0,NaN,NaN,0,"Flood party @Charleston, South Carolina https:...",TX,0,ClayDix,"ClayDix Flood party @Charleston, South Carolin..."

In [30]:
# Change Date column to datetime
df_concat['Date'] = pd.to_datetime(df_concat['Date'])

In [31]:
df_concat['Date'].dtypes

datetime64[ns, UTC]

In [32]:
# Analyze Nulls
df_concat.isnull().sum().sort_values(ascending=False)

Mentions      2542
HashTags      1324
Text             1
user_text        0
user_split       0
target           0
location         0
Retweets         0
Favorites        0
Date             0
dtype: int64

In [33]:
df_concat['Mentions'].fillna('None', inplace = True)
df_concat['HashTags'].fillna('None', inplace = True)

In [34]:
df_concat.shape

(2703, 10)

In [35]:
df_concat['Text'].isnull().sum()

1

In [39]:
df_concat.drop(index = df_concat[df_concat['Text'].isnull()].index, inplace = True)

In [40]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2702 entries, 0 to 2702
Data columns (total 10 columns):
Date          2702 non-null datetime64[ns, UTC]
Favorites     2702 non-null int64
HashTags      2702 non-null object
Mentions      2702 non-null object
Retweets      2702 non-null int64
Text          2702 non-null object
location      2702 non-null object
target        2702 non-null int64
user_split    2702 non-null object
user_text     2702 non-null object
dtypes: datetime64[ns, UTC](1), int64(3), object(6)
memory usage: 232.2+ KB

In [41]:
df_concat.to_csv('../Data/df_TX_WI_clean.csv')

In [42]:
pd.read_csv('../Data/df_TX_WI_clean.csv')

,Unnamed: 0,Date,Favorites,HashTags,Mentions,Retweets,Text,location,target,user_split,user_text
0,0,2019-07-19 22:40:31+00:00,0,#Respect,@BBCWorld @BigCatRescue,1,Nice to have a positive story about big cats f...,WI,0,Gabriettaa,Gabriettaa Nice to have a positive story about...
1,1,2019-07-19 22:26:34+00:00,0,None,None,0,my dad just told me to flood my car so I can g...,WI,1,chaaasiti04,chaaasiti04 my dad just told me to flood my ca...
2,2,2019-07-19 22:19:05+00:00,1,None,None,2,"Happy B-day Reggie, from the office!!!",WI,1,JDenius,"JDenius Happy B-day Reggie, from the office!!!"
3,3,2019-07-19 22:17:13+00:00,0,None,None,0,Something about how crime will magically drop ...,WI,1,beganovic2021,beganovic2021 Something about how crime will m...
4,4,2019-07-19 20:57:18+00:00,0,None,None,0,Lol mine too. I’ve been avoiding floods for th...,WI,1,RiskItAllRichy,RiskItAllRichy Lol mine too. I’ve been avoidin...
...,...,...,...,...,...,...,...,...,...,...,...
2697,2698,2016-09-02 09:56:07+00:00,0,None,@SarahFortnerWx,0,Flash flood watch for Charlotte and eastward u...,TX,0,CharlotteCP,CharlotteCP Flash flood watch for Charlotte an...
2698,2699,2016-09-02 05:19:09+00:00,56,None,None,18,Move to higher ground! Flash Flood Warning in...,TX,0,NWSTallahassee,NWSTallahassee Move to higher ground! Flash F...
2699,2700,2016-09-02 04:47:49+00:00,0,None,None,0,Help arrives for Greenspoint flood victi http:...,TX,0,BLifeAldine,BLifeAldine Help arrives for Greenspoint flood...
2700,2701,2016-09-02 02:49:25+00:00,0,None,None,3,W my fellow Capital Correspondents raising $fo...,TX,0,Futureteller,Futureteller W my fellow Capital Correspondent...
2701,2702,2016-09-02 02:46:37+00:00,0,None,None,0,"Flood party @Charleston, South Carolina https:...",TX,0,ClayDix,"ClayDix Flood party @Charleston, South Carolin..."